# Npm + yarn files
/node_modules
npm-debug.log*
npm-error.log*
package-lock.json
yarn-debug.log*
yarn-error.log*

# Typescript compiler output directory
/lib

# Nyc (test coverage) files
/coverage
/.nyc_output

# TypeDoc generated docs
/docs
